<div class="container">
	<footer class="footer">
		<small>
		Copyright © <a href="enter in a link here">Language Scribe</a>
		by <a href="enter in a link here">Language Scribe</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", pages_about_path %></li>
			</ul>
		</nav>
	</footer>
</div>